---
layout: page
title: About
tagline: Chris Combs is an artist and technologist based in Washington, D.C who creates provocative technology.
group: navigation
permalink: /about/
heroimage: AVAM-icon-2b.jpg
---
{% include JB/setup %}

<h2>In a Nutshell</h2>
<div class="row">
{% include photo src="chris-combs-Scan-130818-0001.jpg" caption="" class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 hue-colorize" imgclass="img-circle" %}
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10" style="margin-bottom: 2rem;">
<p><strong>Through handmade and custom-fabricated hardware, software, and enclosures, </strong> the electronic sculptures of Chris Combs respond to themes of surveillance, control, and algorithmic bias–and the viewer, using facial recognition and motion sensing. He works with a wide range of practices to create circuit boards, software, and enclosures for his sculptures, which both embrace and question technology.</p>

<p>Chris's first solo exhibition, Judging Me Judging You, at the DC Arts Center's Nano Gallery explored themes of surveillance and control, and his work Markov Radio was included in a one-day Sound Scene event at the Hirshhorn Museum. He was a photo editor for National Geographic for five years and has photographed autism, the Deepwater Horizon oil spill, and traffic cones. He is a graduate of the Corcoran College of Art + Design. </p>
</div>
</div>



</div>

<div class="col-md-5">

<h2>Contact</h2>

<ul>
<li><a href="https://www.linkedin.com/in/chriscombsdc">LinkedIn</a></li>
<li><a href="mailto:ccombs+dotnet@gmail.com">E-mail</a></li>
<li><a href="http://twitter.com/ccombs">Twitter</a></li>
<li><a href="http://facebook.com/combs">Facebook</a></li>
</ul>

                        <h2>Drop me a note:</h2>

                        <form action="http://formspree.io/ccombs+note@gmail.com" class="" method="POST">
                        <div class="form-group">
                        <label for="body" class="control-label">Your message:</label>
                        <textarea name="body" placeholder="..." id="body" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                        <label for="body" class="control-label">Your e-mail address:</label>
			<input type="email" name="_replyto" id="_replyto" class="form-control">
			</div>
                        <input type="hidden" name="_next" value="//chriscombs.net/thanks/" />
                        <input type="hidden" name="_subject" value="Contact form!" />
                        <input type="text" name="_gotcha" style="display:none" />
                        <input type="submit" class="btn btn-default" value="Send to Chris">
                        </form>




                </div>

<div class="col-md-7">

<h2>CV/Resum&eacute;</h2>

<h3><a href="https://docs.google.com/document/d/1jWJ0mFuZsH3aqNrm6zvonWt2UvcotvyPqy9_hYLIjQw//export?format=pdf">PDF</a>, <a href="https://docs.google.com/document/d/1jWJ0mFuZsH3aqNrm6zvonWt2UvcotvyPqy9_hYLIjQw//export?format=doc">.doc</a></h3>

<h2>Solo Exhibitions</h2>
<ul><li>
Judging Me Judging You. DC Arts Center, Washington, D.C. April–August 2018</li>
<li>

Buffer Overflow. Fab Lab D.C., Washington, D.C. Pop-up show in the fab lab's working space. April 7-25 2018</li>
</ul>


<h2>Group Exhibitions</h2>

<ul>
    <li>
    Enter: Future. Work: Rxsqtta-Stzne. Gallery 102, Washington, D.C. Nov 2019-Jan 2020.</li>
<li>DCAC 30th Anniversary Party. Work: Rxsqtta-Stzne. Cheshire D.C., Washington, D.C. Oct 2019</li>
<li>
Everyday Objects. Work: Publish/Perish. Studio Montclair, Montclair, N.J. Nov-Dec 2019</li>
<li>
When Darkness Falls. Work: Campfire. Annmarie Sculpture Garden and Arts Center, Solomons, Md. Oct 2018-Jan 2019</li>
<li>
Unfinished Business. Work: The Road Ahead. VAE Raleigh, Raleigh, N.C. Sept-Dec 2019</li>
<li>
Wallmountables 2019. Work: Campfire, Infinite Mueller, Publish/Perish. DC Arts Center, Washington, D.C. July 2019</li>
<li>
Mount Pleasant Lantern Walk, a one-night pop-up event. Work: Fireflies (with Rachel Kaufman). November 2018</li>
<li>
Sound Scene XI, a two-day event. Work: The Heart Says. Hirshhorn Museum and Sculpture Gallery, Washington, D.C. July 2018</li>
<li>
Wallmountables 2018. Work: The Road Ahead and Security Theater?. DC Arts Center, Washington, D.C. June 2018</li>
<li>
Sound Scene X, a one-day event. Work: Markov Radio. Hirshhorn Museum and Sculpture Gallery, Washington, D.C. July 2017</li>
<li>
Wallmountables 2017. Work: Digital Daguerreotype. DC Arts Center, Washington, D.C. July 2017</li>
<li>
Senior Thesis Exhibitions. Work: Inside the Spectrum. Corcoran Gallery of Art. Washington, D.C. 2006 </li>
</ul>

</div>

</div>
