---
layout: homepage
title: Chris Combs
tagline: is an artist and technologist in Washington, D.C.
exclude_from_search: true
heroimage: rxsqtta-stzne-complete.jpg
---
{% include JB/setup %}


{% assign art-machine-posts = site.posts | where_exp: "post", "post.category contains 'Art'"  %}



<div class="container-fluid thumbnails">
    <div class="row">

        <div class="col-xs-12 col-md-8">
            <h2>Updates</h2>
            <ul>
                <li><strong>My <a href="/2021/01/16/maelstrom/index.html">"Maelstrom," an interactive exhibition</a> showcasing the data of visitors, is at Rhizome DC until February 14.</strong> <a href="https://www.rhizomedc.org/new-events/2021/1/16/maelstrom">Make a viewing appointment here.</a></li>  
                <li><a href="/2020/10/02/side-guide-control/index.html">"Side Guide Control"</a> is included in <a href="http://torpedofactory.org/event/movements-moments/">"Movements, Moments,"</a> an exhibition at the Torpedo Factory's Target Gallery, from January 23&ndash;March 7. Online reception and show on 2/12 at 7PM.</li>
                <li>My "Point of Sale" is in <a href="https://artsandculture.google.com/exhibit/global-conversation-2020/AwKS-tmWI3mlKQ">Google Arts & Culture</a> (several slides in) as part of the UN75 "Global Conversation" exhibition.</li>
                <li>"8 Bits (2:08) Micro-B" and "16 Bits (9:06:08) Micro-A" and "B" are <a href="https://combs.bigcartel.com">now available in my web store.</a></li>
                <li><a href="/2020/10/02/gateway-transmission-iii/index.html">"Gateway (Transmission III)"</a> is in Touchstone Gallery's online show, <a href="https://www.touchstonegallery.com/exhibits-all/2020/12/1/spotlight-group-show">"Spotlight@Touchstone,"</a> through February 10.</li>
                <li>I'm honored to report that the DC Commission on the Arts and Humanities awarded me an Arts & Humanities Fellowship Program grant, no. FY21-AHFP-07741.</li>
            </ul>
            <h2>Social</h2>
            <p><a href="http://instagram.com/ccombsdc" class="btn btn-default" style="text-decoration: none;"> Instagram </a> <a href="http://facebook.com/ccombsdc" class="btn btn-default" style="text-decoration: none;"> Facebook </a> <a href="http://twitter.com/ccombs" class="btn btn-default" style="text-decoration: none;"> Twitter </a></p>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>About Chris</h2>
            <span style="font-style: italic;">
                <p>Chris Combs's artworks respond to pressing themes of surveillance, artificial intelligence, and algorithmic failure—and to the viewer, using facial recognition and motion sensing.</p>

<p>He employs a wide range of practices to create circuit boards, software, and enclosures for interactive and time-based wood, metal, and found-object sculptures, which both embrace and question technology. Their custom circuitry is engineered by the artist and hand-soldered with millimeter-scale components.</p>

<p>Chris Combs's sculptures address changes in our built technology environment—changes which often occur before we understand their implications. His artwork makes these macro-scale changes tangible, letting us consider them anew. </p>
            </p>
            </span>

        </div>
    </div>

    <div class="row">
		<div class="col-xs-12">
            <h2>Artwork</h2>
            {% include filters %}
		</div>

	</div>

	{% assign thumbs_list = art-machine-posts %}

	{% include thumbnails %}



{% comment %}
	<div class="row">

	  <div class="col-xs-12 col-md-9">

		<h3> What's New </h3>


	    <ul class="posts">
		  {% for post in site.posts %}
		    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
		  {% endfor %}
		</ul>


	  </div>
	  {% include photo src="AVAM-icon-2b.jpg" caption="" class="col-xs-6 col-md-3 hue-colorize" %}


	</div>
{% endcomment %}

</div>
<div class="container-fluid">
		<div class="row">
		<div class="col-xs-12 col-sm-6">
	    {% include mailchimp %}
		</div>
		<div class="col-xs-12 col-sm-6">
	    {% include contact %}
		</div>
	</div>
</div>
