---
layout: page
title: Product Management
tagline: I am a digital native who knows visual storytelling, narrative design, and usability.
group: nonavigation
permalink: /product-management/
heroimage: AVAM-icon-2b.jpg
---
{% include JB/setup %}

<h2>In a Nutshell</h2>
<div class="row">
{% include photo src="chris-combs-Scan-130818-0001.jpg" caption="" class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 hue-colorize" imgclass="img-circle" %}
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10" style="margin-bottom: 2rem;">
<strong>Chris Combs works at the boundary between editorial and technology to help storytellers</strong> within both daily and long- term timeframes. He works closely with editorial, advertising, and technical teams to ensure that each story, site, and tool is effective and compelling. He is skilled in juggling multiple projects, meeting deadlines, and flexibly crafting solutions to late-breaking problems. His technical experience enables close collaboration with developers; his creative background and open-minded, positive demeanor help him guide groups to develop ideas into compelling experiences. He strives to surprise and empower, and answers to the greater good.<br/>
</div>
</div>



</div>

<div class="col-md-5">

<h2>Contact</h2>

<ul>
<li><a href="https://www.linkedin.com/in/chriscombsdc">LinkedIn</a></li>
<li><a href="mailto:ccombs+dotnet@gmail.com">E-mail</a></li>
<li><a href="http://twitter.com/ccombs">Twitter</a></li>
<li><a href="http://facebook.com/combs">Facebook</a></li>
</ul>

                        <h2>Or drop me a note:</h2>

                        <form action="https://formspree.io/f/mzbkgpdp" class="" method="POST">
                        <div class="form-group">
                        <label for="body" class="control-label">Your message:</label>
                        <textarea name="body" placeholder="..." id="body" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                        <label for="body" class="control-label">Your e-mail address:</label>
			<input type="email" name="_replyto" id="_replyto" class="form-control">
			</div>
                        <input type="hidden" name="_next" value="//chriscombs.net/thanks/" />
                        <input type="hidden" name="_subject" value="Contact form!" />
                        <input type="text" name="_gotcha" style="display:none" />
                        <input type="submit" class="btn btn-default" value="Send to Chris">
                        </form>




                </div>

<div class="col-md-7">

<h2>Resum&eacute;</h2>

<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/chriscombsphoto" data-format="inline" data-related="false"></script>

<h3>Download: <a href="http://chriscombs.net/assets/files/chris-combs-resume.pdf">PDF</a>, <a href="http://chriscombs.net/assets/files/chris-combs-resume.doc">.doc</a></h3>


<h3>Employment</h3>


<p><strong>Director, Digital Products: Washingtonian.</strong> <em>					June 2016&ndash;Present</em></p>
<ul><li>
Responsible for all Washingtonian products online. Defines product requirements, working with advertising and editorial teams to maximize quality and revenue. Supervises design, user experience, development, operations. Maintains existing systems and capitalizes on new opportunities in the marketplace. Added major new advertising infrastructure, including header bidding with 8 new DSPs, and launched new systems, including a monetized public-facing photo contest system. Driven a 200% increase in online paid subscriptions and a doubling in remnant ad revenue.
</li>

</ul>

<p><strong>Senior Producer: National Geographic.</strong> <em>					Oct. 2013&ndash;May 2016</em></p>
<ul><li>
  Worked with development, UX, and editorial to break goals into features, build backlog, manage dependencies. Connected product and editorial team requirements for CMSes and migrations and helped prioritize their product backlogs. Supervised external developers for editorial interactives. Collaborated on visual packages, working with editorial, product, and development. Identified and resolved friction points in workflows and tools. Provided editorial vision, UX guidance, and a reader-centric viewpoint. Edited the National Geographic home page and daily app.
</li>

</ul>


<p><strong>Photo Editor: National Geographic. </strong> <em>						Jan. 2009&ndash;Sep. 2013</em></p>
<ul><li>
Chose, researched, color-corrected photographs for 5-10 stories and galleries per day; constructively maintained National Geographic visual standards; collaborated with picture researchers and editors; found stories and guided how they were covered; maintained annual budgets; negotiated with agencies, photographers, scientists; liaised with CMS developers; created workflows and scheduling systems.

</li>

</ul>

<p><strong>Photo Assistant to the Art Director: The Washington Post Express.</strong> <em>		June 2007&ndash;Jan. 2009</em></p>
<ul>
<li>
Researched, selected, cleared photographs; assigned, managed freelancers; shot features; color-corrected all photos each day; created fast and effective workflow and tools.

</li>

</ul>

<p><strong>Photo Contractor: The Washington Post.</strong> <em>					June 2006&ndash;May 2007</em></p>
<ul>
<li>
Photographed assignments; built an online publishing system for local sports; researched and acquired photographs; color-corrected and researched photos for daily news.

</li>

</ul>

<p><strong>Multimedia Intern: washingtonpost.com. </strong> <em>					May 2005&ndash;May 2006</em></p>
<ul>
<li>
Photographed news events; published Web photo galleries; created an online publishing system that enabled industry-leading NFL coverage; traveled with Post photographers.

</li>

</ul>

<p><strong>Lead Engineer – Special Projects: Corcoran Gallery of Art.</strong> <em>			Oct. 2003&ndash;July 2005</em></p>
<ul>
<li>
Architected and deployed mission-critical servers; provided on-call infrastructure support.


</li>

</ul>


<h3>Education</h3>

<ul><li>
<p> Corcoran College of Art and Design: BFA/Photojournalism <em>(May 2006)</em></p>
</li></ul>


<h3>Honors</h3>

<ul><li>Track co-chair (with <a href="https://www.rickyferrer.com/">Ricky Ferrer</a>) for digital technology and products at the City + Regional Magazine Association's 2017 conference in Houston, Texas. Organized five sessions.</li>
<li>	Judged the <a href="http://www.cgap.org/photos-videos/2012-cgap-photo-contest">World Bank's 2012 CGAP Photo Contest</a> with three colleagues.	</li>
<li>Photo essay <a href="http://www.chriscombs.net/2006/02/15/inside-the-spectrum/"><em>Inside the Spectrum</em></a> was exhibited at the Corcoran Gallery of Art and at the World of Possibilities Disabilities Expo in 2006. </li><li>Gold Award in the national and Minnesota Scholastic Awards of 2002.</li></ul>

<br/>

</div>

</div>
